.navigation{
    flex: 0.2;
    border-radius: 50%;



}
.admin-side-bar-container{

    background-color: cornflowerblue;
    height: 100vh;

}

.admin-liContainer{
    display: flex;
    align-items: center;
    margin-top: -7px;
    color: black;
    padding: 10px;
    text-decoration: none;
    :hover{
        color: white;
    }
}

.admin-ulContainer{
    margin-top: 70px;
}

.menu{
    display: flex;

}
.header{
    display: flex;
    align-items: center;
    padding: 10px;

}
.header h4{
    padding: 10px;
}



.search{
    display: flex;
}

.admin-nav-bar{

}