.body{
    margin: 0;
}

.nav-bar{
    display: flex;
}

.nav-bar a {
    text-decoration: none;
    color: black;
    padding: 15px;
    display: block;
    text-align: justify;
  }
  
.nav-bar li {
    list-style: none;
    float: left;
    justify-content: space-between;
    
  }
  
.nav-bar a:hover {
    background-color: rgb(109, 106, 106);
}




.main-section1 img {
    padding-block: 0%;
    

}



.main-section2{
    display: flex;
    padding: 50px;
    background-color:  rgb(0, 140, 255);
    max-width: 250 px;
}
.main-section2 img{
    width: 500px;
}

.headings {
   
    text-align: center;
    margin-block: 100px;
    padding-left: 50px;
    color:white;
    
}
.headings h2{
    max-width: 500px;
    text-align: left;
}

.headings a{
    text-decoration: none;
    color: white;

}
.headings a:hover{
    background-color:rgb(85, 195, 238)

}

.main-section3{
    padding-top: 50px;
    padding-left: 75px;
    
    display:flex;

}

.main-section3 img{
    width:700px;
    height:1000px;
    padding-right: 50px;

}

.main-section4{
    display:flex;
    justify-content: space-between;
    padding-block: 20px;
    
}

.main-section4 div{
    padding-right: 10px;
}

.main-section6{
    
    background-color: rgb(5, 5, 105);
    color: white;
}
.main-section6 div{
    display: flex;
}
.main-section6 h3{
    max-width:  1000px;

}

.main-section7 {
    text-align: center;
    background-color: rgb(85, 195, 238);
}

.main-section7 .body{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}

.main-section8{
    text-align: center;
}

 


